nav.navbar {
    position: relative;
    height: 80px; 
    background-color: transparent; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 0px; 
}

.Menu {
    font-size: 25px;
    font-weight: 300; 
    letter-spacing: 2px;
    color: black;
    padding-left: 10%; 
}

.other-menu-items {
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* 使菜单项靠右对齐 */
    padding-right: 20px;
}

.other-menu-items a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    transition: color 0.3s ease;
}

.other-menu-items a:hover {
    color: black; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; 
}

.main_body {
    background-attachment: local;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 80px); 
    background-image: url('image/lawyer.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding-left: 10%;
}
.main_content {
    background-color:#0c3c5e;
    color: white;
    padding: 40px;
    width: 350px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 350px;
}


.title-small {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 350;
    color: #FFFFFF;
    margin-bottom: 5px;
}


.title-large {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 10px;
}


.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 350;
    color: #FFCC00;
    margin-bottom: 20px;
    font-style: italic;
}

.main_content form {
    display: flex;
    flex-direction: column;
}

.main_content input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.main_content button {
    padding: 10px;
    background-color: #ffcc00;
    color: #00264d;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif; 
    font-weight: 350;
    width: 200px; 
}

.main_content button:hover {
    background-color: #e6b800;
}

.features {
    padding: 60px 0;
    text-align: center;
    background-color: #fff;
}

.feature-set {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    margin-bottom: 40px; 
    padding-top: 40px;
}

.feature_text {
    width: 30%;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 40px;
}

.feature_text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 350;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.feature_text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 350;
    color: #909090;
    text-align: left;
}

.testimonial {
    text-align: center;
    background-color: #f5f5f5;
    margin: 200px 0; 
    padding: 200px 0; 
}

.testimonial blockquote {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #000000;;
    margin: 20px 0;
}

.testimonial footer {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* 人名部分为黑色粗体 */
.testimonial footer .name {
    font-weight: bold; /* 黑体 */
    color: black; /* 黑色 */
}

/* 其他文字为灰色 */
.testimonial footer .title {
    color: gray; /* 灰色 */
}